#Folders
schematics/
logs/
local/
downloads/
saves/
data/
crash-reports/
xaero/
XaeroWaypoints_BACKUP240807/
.mixin.out
debug/
ESM/
blueprints/
little_big_redstone/
moonlight-global-datapacks/
dynamic-resource-pack-cache/

#Files
usercache.json
usernamecache.json
options.txt
accessories.json5
iris.properties
indigo-renderer.properties